In [5]:
import pandas as pd
import re

# --- 1. SETUP: COLUMN CLEANING FUNCTION ---
def clean_col_name(col):
    """Converts column names to lowercase snake_case."""
    name = col.lower()
    name = re.sub(r'[()\s-]+', '_', name)
    name = name.strip('_')
    name = re.sub(r'__+', '_', name)
    return name


# Load the dataset (or use your currently processed DataFrame)
file_name = "data sources/CDC - physical activity and obesity.csv"
df = pd.read_csv(file_name)

# Apply the cleaning function to all column names
df.columns = [clean_col_name(col) for col in df.columns.tolist()]

# Ensure yearstart is treated as an integer
df['yearstart'] = df['yearstart'].astype(int)

# Identify all unique years
unique_years = df['yearstart'].unique()
unique_years.sort()

# Dictionary to store the split DataFrames
yearly_dfs = {}

# Iterate through each year and create a subset DataFrame
for year in unique_years:
    # Use .copy() to ensure the new DataFrame is independent
    yearly_dfs[year] = df[df['yearstart'] == year].copy()

yearly_dfs[2011]

,yearstart,yearend,locationabbr,locationdesc,datasource,class,topic,question,data_value_unit,data_value_type,...,geolocation,classid,topicid,questionid,datavaluetypeid,locationid,stratificationcategory1,stratification1,stratificationcategoryid1,stratificationid1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$15,000 - $24,999",INC,INC1525
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$25,000 - $34,999",INC,INC2535
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$35,000 - $49,999",INC,INC3550
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$50,000 - $74,999",INC,INC5075
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$75,000 or greater",INC,INC75PLUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10775,2011,2011,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Non-Hispanic Black,RACE,RACEBLK
10776,2011,2011,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Non-Hispanic White,RACE,RACEWHT
10777,2011,2011,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Other,RACE,RACEOTH
10778,2011,2011,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Education,Some college or technical school,EDU,EDUCOTEC
10779,2011,2011,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Total,Total,OVR,OVERALL

In [8]:
# columns to drop (high-cardinality, descriptive, "useless" columns)
cols_to_drop = ['yearend', 'locationdesc', 'datasource', 'class', 'topic', 'data_value_unit', 'data_value_type', 'data_value_unit', 'data_value_alt', 'data_value_footnote_symbol', 'data_value_footnote', 'geolocation', 'classid', 'topicid', 'questionid', 'datavaluetypeid', 'locationid', 'stratificationcategory1', 'stratificationcategoryid1', 'stratificationid1']

yearly_dfs = {
    year: df.drop(columns=cols_to_drop, errors='ignore')
    for year, df in yearly_dfs.items()
}

yearly_dfs[2011]

,yearstart,locationabbr,question,data_value,low_confidence_limit,high_confidence_limit,sample_size,total,age_years,education,sex,income,race/ethnicity,stratification1
0,2011,AL,Percent of adults aged 18 years and older who ...,34.8,31.3,38.5,"1,367",NaN,NaN,NaN,NaN,"$15,000 - $24,999",NaN,"$15,000 - $24,999"
1,2011,AL,Percent of adults aged 18 years and older who ...,35.8,31.1,40.8,757,NaN,NaN,NaN,NaN,"$25,000 - $34,999",NaN,"$25,000 - $34,999"
2,2011,AL,Percent of adults aged 18 years and older who ...,32.3,28.0,36.8,861,NaN,NaN,NaN,NaN,"$35,000 - $49,999",NaN,"$35,000 - $49,999"
3,2011,AL,Percent of adults aged 18 years and older who ...,34.1,29.7,38.8,785,NaN,NaN,NaN,NaN,"$50,000 - $74,999",NaN,"$50,000 - $74,999"
4,2011,AL,Percent of adults aged 18 years and older who ...,28.8,25.4,32.5,"1,125",NaN,NaN,NaN,NaN,"$75,000 or greater",NaN,"$75,000 or greater"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10775,2011,VI,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-Hispanic Black,Non-Hispanic Black
10776,2011,VI,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-Hispanic White,Non-Hispanic White
10777,2011,VI,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,Other
10778,2011,VI,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,Some college or technical sch,NaN,NaN,NaN,Some college or technical school
10779,2011,VI,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,Total,NaN,NaN,NaN,NaN,NaN,Total

In [9]:
import os

# Define the base folder where you want to save the yearly files
output_folder = "cleaned data/yearly_cdc_data"

# Create the folder if it doesn't already exist
if not os.path.exists(output_folder):
    os.makedirs(output_folder)
    print(f"Created output directory: '{output_folder}'")

# Loop through the dictionary and save each DataFrame
total_files_exported = 0
for year, df_year in yearly_dfs.items():
    # Construct a unique filename (e.g., 'yearly_cdc_data/cdc_data_2011.csv')
    filename = os.path.join(output_folder, f"cdc_data_{year}.csv")

    # Export the DataFrame
    # index=False prevents writing the pandas row index to the CSV file
    df_year.to_csv(filename, index=False)
    total_files_exported += 1

print(f"Successfully exported {total_files_exported} files into the '{output_folder}' directory.")

Created output directory: 'cleaned data/yearly_cdc_data'
Successfully exported 13 files into the 'cleaned data/yearly_cdc_data' directory.